In [1]:
from sklearn.linear_model import Lasso, LassoCV
from sklearn.feature_selection import SelectFromModel
from sklearn import model_selection
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [2]:
# Load Training data using Pandas
train = pd.read_csv('train.csv')
print(train.shape)
train.head()

(4209, 378)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Load Test data using Pandas
test = pd.read_csv('test.csv')
print(test.shape)
test.head()

(4209, 377)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
# Select training X and Y
A, Y, IDtrain = train[train.columns[2:378]], train.y, train[train.columns[0]]
print(A.shape)

(4209, 376)

In [5]:
# Select test X
B, IDtest= test[test.columns[1:377]], test[test.columns[0]]
print(B.shape)

(4209, 376)

In [6]:
full = [A, B]

In [7]:
result = pd.concat(full)
print(result.shape)

(8418, 376)

In [8]:
Tran = result.apply(LabelEncoder().fit_transform)

In [9]:
# Select Train X
X = Tran[0:4209]
print(X.shape)

(4209, 376)

In [10]:
# Select Test X
XT = Tran[4209:8418]
print(X.shape)
XT.head()

(4209, 376)

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,24,23,38,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,46,3,9,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,24,23,19,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,24,13,38,5,3,32,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,49,20,19,2,3,31,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

In [11]:
lasso = Lasso(max_iter=10000, normalize=True) 
coefs = []

In [12]:
lassocv = LassoCV(alphas=None, cv=10, max_iter=100000, normalize=True)

In [13]:
lassocv.fit(X, Y)
lasso.set_params(alpha=lassocv.alpha_)

Lasso(alpha=0.0022190170277155466, copy_X=True, fit_intercept=True,
   max_iter=10000, normalize=True, positive=False, precompute=False,
   random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [14]:
lasso.fit(X, Y)

Lasso(alpha=0.0022190170277155466, copy_X=True, fit_intercept=True,
   max_iter=10000, normalize=True, positive=False, precompute=False,
   random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [15]:
y_pred = lasso.predict(XT)
y_pred

array([ 104.24101963,  121.09215103,  105.55531719, ...,   93.06001906,
        110.63913381,   94.80004505])

In [16]:
Final = pd.DataFrame(data=IDtest, index=None, columns=None, dtype=None, copy=False)

In [18]:
Final = Final.assign(y=y_pred)
print(Final.shape)
Final.head()

(4209, 2)

   ID           y
0   1  104.241020
1   2  121.092151
2   3  105.555317
3   4   76.966192
4   5  110.347302

In [19]:
Final.to_csv(path_or_buf='MB_Submission.csv', sep=',', na_rep='', float_format=None, columns=None, header=True, index=False, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, escapechar=None, decimal='.')